body {
  font-family: sans-serif;
  font-size: 12pt;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
}

h4 {
  font-size: 15pt;
  font-style: italic;
}

button {
  border: 1px solid peru;
  border-radius: 5px;
  background: peachpuff;
  padding: 8px;
  min-width: 100px;
}

nav, div#piles, div#player, div#player-commands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div#opponents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.player-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-button, .player-button {
  margin: 10pt;
}

.deck-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  column-gap: 10pt;
  row-gap: 8pt;
  margin-left: 5pt;
  margin-right: 5pt;
}

.deck {
  grid-column: 1;
  grid-row: 1;
}

.deck-sub {
  grid-column: 1;
  grid-row: 2;
}

#piles {
  min-width: 40%;
}

#draw-deck, #discard-pile {
  float: left;
  border-radius: 12px;
  border: 1px solid black;
  width: 100px;
  height: 160px;
}



.card {
  width: 100%;
  max-width: 80px;
  margin: 5pt;
  transform: rotate(10deg);
}

.modal {
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	border: thin #000 solid;
	background-color:#fff;
	z-index: 10;
	position:fixed;
	top:25%;
	left:25%;
	display:block;
}

.modal.closed {
  display: none;
}

#extend-seven {
  width: 400px;
  max-width: 100%;
}

#modal-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.modal-overlay.closed {
  display: none;
}